# Python byte-code / caches
__pycache__/
*.py[cod]
*.class
*.so
.Python
.pytest_cache/

# Environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Large raw & processed audio data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
